/* * THis is styles for PostContent component */
.postcontent {
  display: block;
}



.content {
  grid-area: content;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}



.linkPost {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #2d2d2d;
  margin-bottom: 10px;
  transition: color 0.2s ease-in-out;
}

.linkPost:after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  transition: box-shadow 0.36s ease-in-out;
}


.linkAuthor {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  color: #cc6633;
  transition: color 0.2s ease-in-out;
}

.linkAuthor:hover {
  color: #2d2d2d;
}




