/** VARIABLES */
$black: #000;
$white: #fff;
$violet: #780096;
$light: #f1e9e4;
$gray: #969eae;
$grey: $gray;
$dark: #1c1c1c;
$form: #eeeff2;

$dark-text: $dark;
$light-text: $light;
$black-bg: $black;
$dark-bg: $dark;
$light-bg: $white;
$form-bg: $form;

$select-bg: #86319b;
$select-text: $white;
