.logo {
  display: block;
  transition: box-shadow 200ms ease;
}

.logo:hover {
  opacity: .9;
  box-shadow: 0px 0px 21px 6px #7efc00ab;
  /* ? */
}
  
.link {
  display: block;
  text-decoration: none;
}
