@import '../../styles/variables';

.logo {
  display: block;
  border-radius: 4px;
  outline-offset: 2px;
  outline: 2px solid transparent;

  &:hover,
  &:active,
  &:focus {
    color: $violet;
  }


  &:focus-visible {
    outline-color: #969EAE;
  }
}

.img {
  width: 100%;
}