/* * layout container */
.container {
  max-width: 1420px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid lawngreen;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
