/* * THis is styles for Tabs component */

.tabs {
  display: block;
}

.list {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.item {
  display: block;
}

.link {
  display: block;
  text-decoration: none;
  opacity: .7;
  transition: opacity 200ms ease-in-out;
}
.link:hover {
  opacity: 1;
}
