:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #535bf2;
  text-decoration: inherit;
}
a:hover {
  color: #646cff;
  opacity: .8;
}

body {
  color: #000000de;
  background-color: #cdcdcd;
  margin: 0;
}

