.error {
  display: block;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 2em auto;
  padding: 3em 4em 6em;
  max-width: 1000px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 10px 0px, rgba(0, 0, 0, 0.298039) 0px 6px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 10px 0px, rgba(0, 0, 0, 0.298039) 0px 6px 20px 0px;

  &__img {
    display: flex;
    position: absolute;
  }

  &__title {
    display: block;
    border-bottom: 1px solid #dadada;
    color: #4f4f4f;
    font-size: 32px;
    margin: 0 0 30px 0;
    padding: 0;
    padding-bottom: 9px;
  }

  &__subtitle {
    display: block;
    color: #666;
    margin: 0 0 0 0;
    padding: 0;
    padding-bottom: 7px;
  }


  &__text {
    font-size: 14px;
    line-height: 1.5;
  }

  &__link {
    color: #0073aa;
    padding: 5px 0;
    text-decoration: none;


    &:hover,
    &:active {
      color: #00a0d2;
      text-decoration: underline;
    }

    &:focus {
      color: #124964;
      -webkit-box-shadow:
        0 0 0 1px #5b9dd9,
        0 0 2px 1px rgba(30, 140, 190, .8);
      box-shadow:
        0 0 0 1px #5b9dd9,
        0 0 2px 1px rgba(30, 140, 190, .8);
      outline: none;
    }
  }
}

  .button {
    background: #f7f7f7;
    border: 1px solid #ccc;
    color: #555;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
  }

  .button.button-large {
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
  }

  .button:hover,
  .button:focus {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
  }

  .button:focus {
    border-color: #5b9dd9;
    -webkit-box-shadow: 0 0 3px rgba(0, 115, 170, .8);
    box-shadow: 0 0 3px rgba(0, 115, 170, .8);
    outline: none;
  }

  .button:active {
    background: #eee;
    border-color: #999;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
